@use "sass:math";

$namespace: "we";
$background: "background";
$element-separator: "__";
$modifier-separator: "--";
$state-prefix: "is-";

//color相关
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-222222: #222222 !default;
$--color-AAAAAA: #AAAAAA !default;
$--color-25252F: #25252F !default;
$--color-777777: #777777 !default;
$--color-00D4CB: #00D4CB !default;
$--color-FFC529: #FFC529 !default;
$--color-DB6E2C: #DB6E2C !default;
$--color-D38A16: #D38A16 !default;
$--color-6B1F15: #6B1F15 !default;
$--color-ECA810: #ECA810 !default;
$--color-953E00: #953E00 !default;
$--color-E5BB67: #E5BB67 !default;
$--color-901EA9: #901EA9 !default;
$--color-FFFDE6: #FFFDE6 !default;
$--color-FFDD99: #FFDD99 !default;
$--color-F5F7FA: #F5F7FA !default;
$--color-00E0D7: #00E0D7 !default;
$--color-F3F3F3: #F3F3F3 !default;
$--color-E9E9EA: #E9E9EA !default;
$--color-BE58FB: #BE58FB !default;
$--color-transparent: rgba(255, 255, 255, 0) !default;
$--color-A9F446: #A9F446 !default;
$--color-BFBCBC: #BFBCBC !default;
$--color-76CD5A: #76CD5A !default;
$--color-59BC39: #59BC39 !default;
$--color-858584: #858584 !default;
$--color-FEFFE2: #FEFFE2 !default;
$--color-555555: #555555 !default;
$--color-585858: #585858 !default;
$--color-FFFDF3: #FFFDF3 !default;
$--color-FFFC00: #FFFC00 !default;
$--color-56AD38: #56AD38 !default;
$--color-767671: #767671 !default;
$--color-5C5D5B: #5C5D5B !default;
$--color-206A27: #206A27 !default;
$--color-FFFA00: #FFFA00 !default;
$--color-25732E: #25732E !default;
$--color-DCFAA3: #DCFAA3 !default;
$--color-F18B01: #F18B01 !default;
$--color-BBBBBB: #BBBBBB !default;
$--color-4B4B4B: #4B4B4B !default;
$--color-91E975: #91E975 !default;
$--color-4CA82F: #4CA82F !default;
$--color-F18A00: #F18A00 !default;
$--color-8CCA52: #8CCA52 !default;
$--color-767771: #767771 !default;
$--color-60AB48: #60AB48 !default;
$--color-CD5D00: #CD5D00 !default;
$--color-96D000: #96D000 !default;
$--color-565656: #565656 !default;
$--color-5D5C5B: #5D5C5B !default;
$--color-919191: #919191 !default;
$--color-FFE8BB: #FFE8BB !default;
$--color-88FFF5: #88FFF5 !default;
$--color-1CF3FD: #1CF3FD !default;
$--color-75AAA9: #75AAA9 !default;
$--color-A17B1D: #A17B1D !default;
$--color-005C65: #005C65 !default;
$--color-FFD776: #FFD776 !default;
$--color-E8C582: #E8C582 !default;
$--color-F8D594: #F8D594 !default;
$--color-E8CA89: #E8CA89 !default;
$--color-C3C3C3: #C3C3C3 !default;
$--color-888A8B: #888A8B !default;
$--color-FFDB85: #FFDB85 !default;
$--color-FFD382: #FFD382 !default;
$--color-B47D00: #B47D00 !default;
$--color-FFE2AF: #FFE2AF !default;
$--color-484848: #484848 !default;
$--color-F3D0A4: #F3D0A4 !default;
$--color-F5CA91: #F5CA91 !default;
$--color-FFC275: #FFC275 !default;
$--color-FCD39E: #FCD39E !default;

//字体相关
$--font-weight-bold: bold;
$--font-weight-normal: normal;
$--font-weight-semibold: 600;
$--font-weight-medium: 500;
$--font-weight-regular: 400;

$--font-family-SFUIText: SFUIText;
$--font-family-Helvetica: Helvetica;
$--font-family-PingFangSC: PingFang SC;
$--font-family-SemiboldItalic: SFUIText-SemiboldItalic;
$--font-family-CairoBold: Cairo-Bold, Cairo;
$--font-family-PingFangSCBold: PingFangSC-Semibold, PingFang SC;
$--font-family-CairoRegular: Cairo-Regular, Cairo;